@import "../settings/_settings.scss";

html,
body {
    margin: 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

address {
    font-style: normal;
}

fieldset,
figure {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
    height: auto;
}

// Highlighted Text Effect
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

